In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [176]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

train.info()

#filling blank values: typically I would find a way to fill them in, but I suspect that leaving things blank might
#actually play a role in approval. Let's take a look and perhaps assign specific values to blanks

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [177]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [178]:
data=pd.concat([train,test])
data[:100]

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No
5,5417,4196.0,1.0,2,Graduate,Male,267.0,360.0,LP001011,Y,Yes,Urban,Yes
6,2333,1516.0,1.0,0,Not Graduate,Male,95.0,360.0,LP001013,Y,Yes,Urban,No
7,3036,2504.0,0.0,3+,Graduate,Male,158.0,360.0,LP001014,N,Yes,Semiurban,No
8,4006,1526.0,1.0,2,Graduate,Male,168.0,360.0,LP001018,Y,Yes,Urban,No
9,12841,10968.0,1.0,1,Graduate,Male,349.0,360.0,LP001020,N,Yes,Semiurban,No
10,3200,700.0,1.0,2,Graduate,Male,70.0,360.0,LP001024,Y,Yes,Urban,No
11,2500,1840.0,1.0,2,Graduate,Male,109.0,360.0,LP001027,Y,Yes,Urban,NaN
12,3073,8106.0,1.0,2,Graduate,Male,200.0,360.0,LP001028,Y,Yes,Urban,No
13,1853,2840.0,1.0,0,Graduate,Male,114.0,360.0,LP001029,N,No,Rural,No
14,1299,1086.0,1.0,2,Graduate,Male,17.0,120.0,LP001030,Y,Yes,Urban,No
15,4950,0.0,1.0,0,Graduate,Male,125.0,360.0,LP001032,Y,No,Urban,No
16,3596,0.0,NaN,1,Not Graduate,Male,100.0,240.0,LP001034,Y,No,Urban,No
17,3510,0.0,0.0,0,Graduate,Female,76.0,360.0,LP001036,N,No,Urban,No
18,4887,0.0,1.0,0,Not Graduate,Male,133.0,360.0,LP001038,N,Yes,Rural,No
19,2600,3500.0,1.0,0,Graduate,Male,115.0,NaN,LP001041,Y,Yes,Urban,NaN
20,7660,0.0,0.0,0,Not Graduate,Male,104.0,360.0,LP001043,N,Yes,Urban,No
21,5955,5625.0,1.0,1,Graduate,Male,315.0,360.0,LP001046,Y,Yes,Urban,No
22,2600,1911.0,0.0,0,Not Graduate,Male,116.0,360.0,LP001047,N,Yes,Semiurban,No
23,3365,1917.0,0.0,2,Not Graduate,NaN,112.0,360.0,LP001050,N,Yes,Rural,No
24,3717,2925.0,NaN,1,Graduate,Male,151.0,360.0,LP001052,N,Yes,Semiurban,NaN
25,9560,0.0,1.0,0,Graduate,Male,191.0,360.0,LP001066,Y,Yes,Semiurban,Yes
26,2799,2253.0,1.0,0,Graduate,Male,122.0,360.0,LP001068,Y,Yes,Semiurban,No
27,4226,1040.0,1.0,2,Not Graduate,Male,110.0,360.0,LP001073,Y,Yes,Urban,No
28,1442,0.0,1.0,0,Not Graduate,Male,35.0,360.0,LP001086,N,No,Urban,No
29,3750,2083.0,1.0,2,Graduate,Female,120.0,360.0,LP001087,Y,No,Semiurban,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,3208,3066.0,1.0,0,Graduate,Male,172.0,360.0,LP001243,Y,Yes,Urban,No
71,1875,1875.0,1.0,2,Not Graduate,Male,97.0,360.0,LP001245,Y,Yes,Semiurban,Yes
72,3500,0.0,1.0,0,Graduate,Male,81.0,300.0,LP001248,Y,No,Semiurban,No
73,4755,0.0,0.0,3+,Not Graduate,Male,95.0,NaN,LP001250,N,Yes,Semiurban,No
74,5266,1774.0,1.0,3+,Graduate,Male,187.0,360.0,LP001253,Y,Yes,Semiurban,Yes
75,3750,0.0,1.0,0,Graduate,Male,113.0,480.0,LP001255,N,No,Urban,No
76,3750,4750.0,1.0,0,Graduate,Male,176.0,360.0,LP001256,N,No,Urban,No
77,1000,3022.0,1.0,1,Graduate,Male,110.0,360.0,LP001259,N,Yes,Urban,Yes
78,3167,4000.0,0.0,3+,Graduate,Male,180.0,300.0,LP001263,N,Yes,Semiurban,No
79,3333,2166.0,NaN,3+,Not Graduate,Male,130.0,360.0,LP001264,Y,Yes,Semiurban,Yes
80,3846,0.0,1.0,0,Graduate,Female,111.0,360.0,LP001265,Y,No,Semiurban,No
81,2395,0.0,1.0,1,Graduate,Male,NaN,360.0,LP001266,Y,Yes,Semiurban,Yes
82,1378,1881.0,1.0,2,Graduate,Female,167.0,360.0,LP001267,N,Yes,Urban,No
83,6000,2250.0,NaN,0,Graduate,Male,265.0,360.0,LP001273,N,Yes,Semiurban,No
84,3988,0.0,1.0,1,Graduate,Male,50.0,240.0,LP001275,Y,Yes,Urban,No
85,2366,2531.0,1.0,0,Graduate,Male,136.0,360.0,LP001279,Y,No,Semiurban,No
86,3333,2000.0,NaN,2,Not Graduate,Male,99.0,360.0,LP001280,Y,Yes,Semiurban,No
87,2500,2118.0,1.0,0,Graduate,Male,104.0,360.0,LP001282,Y,Yes,Semiurban,No
88,8566,0.0,1.0,0,Graduate,Male,210.0,360.0,LP001289,Y,No,Urban,No
89,5695,4167.0,1.0,0,Graduate,Male,175.0,360.0,LP001310,Y,Yes,Semiurban,No
90,2958,2900.0,1.0,0,Graduate,Male,131.0,360.0,LP001316,Y,Yes,Semiurban,No
91,6250,5654.0,1.0,2,Graduate,Male,188.0,180.0,LP001318,Y,Yes,Semiurban,No
92,3273,1820.0,1.0,2,Not Graduate,Male,81.0,360.0,LP001319,Y,Yes,Urban,No
93,4133,0.0,1.0,0,Graduate,Male,122.0,360.0,LP001322,Y,No,Semiurban,No
94,3620,0.0,1.0,0,Not Graduate,Male,25.0,120.0,LP001325,Y,No,Semiurban,No
95,6782,0.0,NaN,0,Graduate,Male,NaN,360.0,LP001326,N,No,Urban,NaN
96,2484,2302.0,1.0,0,Graduate,Female,137.0,360.0,LP001327,Y,Yes,Semiurban,No
97,1977,997.0,1.0,0,Graduate,Male,50.0,360.0,LP001333,Y,Yes,Semiurban,No
98,4188,0.0,1.0,0,Not Graduate,Male,115.0,180.0,LP001334,Y,Yes,Semiurban,No
99,1759,3541.0,1.0,0,Graduate,Male,131.0,360.0,LP001343,Y,Yes,Semiurban,No

In [179]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 0 to 366
Data columns (total 13 columns):
ApplicantIncome      981 non-null int64
CoapplicantIncome    981 non-null float64
Credit_History       902 non-null float64
Dependents           956 non-null object
Education            981 non-null object
Gender               957 non-null object
LoanAmount           954 non-null float64
Loan_Amount_Term     961 non-null float64
Loan_ID              981 non-null object
Loan_Status          614 non-null object
Married              978 non-null object
Property_Area        981 non-null object
Self_Employed        926 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 107.3+ KB

In [180]:
data.Self_Employed.value_counts()

No     807
Yes    119
Name: Self_Employed, dtype: int64

In [181]:
data.Property_Area.value_counts()

Semiurban    349
Urban        342
Rural        290
Name: Property_Area, dtype: int64

In [182]:
data.Gender.value_counts()

Male      775
Female    182
Name: Gender, dtype: int64

In [183]:
data.Dependents.value_counts()

0     545
1     160
2     160
3+     91
Name: Dependents, dtype: int64

In [184]:
data.Married.value_counts()

Yes    631
No     347
Name: Married, dtype: int64

In [185]:
data.Education.value_counts()

Graduate        763
Not Graduate    218
Name: Education, dtype: int64

In [186]:
gender={'Male':2,'Female':1,np.nan:0} #let's render blanks as 0 and male or female as 1
status={'Y':int(1),'N':int(0)}
yn={'Yes':1,'No':0}
Dep={'0':int(0),'1':int(1),'2':int(2),'3+':int(3)}
Binary={True:1,False:0}
Ed={'Graduate':1,'Not Graduate':0}
Prop={'Semiurban':1,'Urban':2,'Rural':3}
flip={0:1,1:0}

In [187]:
#let's convert the train set to binary for some quick info
trainB=pd.DataFrame()
trainB['Gender']=train['Gender'].map(gender)
trainB['Loan_Status']=train['Loan_Status'].map(status)
trainB['Credit_History']=train['Credit_History'].fillna(-1)
trainB['Dependents']=train['Dependents'].map(Dep).fillna(0) #let's render no listed as 0
trainB['containsNaN']=train.isnull().any(axis=1)
trainB['NoLoanAmount']=train['LoanAmount'].isnull().map(Binary)
trainB['LoanAmount']=train['LoanAmount'].fillna(train.LoanAmount.max())
trainB['Self_Employed']=train['Self_Employed'].fillna('No').map(yn)
trainB['Education']=train['Education'].map(Ed)
trainB['PropertyArea']=train['Property_Area'].map(Prop)
trainB['NoLoanTerm']=train['Loan_Amount_Term'].isnull().map(Binary)

#estimate Marriage: If dependents blank or less than 1, assume not married
bins=[-2,0,4]
MarrEst=pd.cut(list(trainB.Dependents),bins)
trainB['MarrEst']=list(MarrEst.codes)
trainB['Married']=train['Married'].map(yn).fillna(trainB.MarrEst)

trainB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Gender            614 non-null int64
Loan_Status       614 non-null int64
Credit_History    614 non-null float64
Dependents        614 non-null float64
containsNaN       614 non-null bool
NoLoanAmount      614 non-null int64
LoanAmount        614 non-null float64
Self_Employed     614 non-null int64
Education         614 non-null int64
PropertyArea      614 non-null int64
NoLoanTerm        614 non-null int64
MarrEst           614 non-null int64
Married           614 non-null float64
dtypes: bool(1), float64(4), int64(8)
memory usage: 58.2 KB

In [188]:
#let's convert the train set to binary for some quick info
testB=pd.DataFrame()
testB['Gender']=test['Gender'].map(gender)
testB['Credit_History']=test['Credit_History'].fillna(-1)

testB['Dependents']=test['Dependents'].map(Dep).fillna(-1)
testB['containsNaN']=test.isnull().any(axis=1)
testB['NoLoanAmount']=test['LoanAmount'].isnull().map(Binary)
testB['LoanAmount']=test['LoanAmount'].fillna(test.LoanAmount.max())
testB['Self_Employed']=test['Self_Employed'].fillna('No').map(yn)
testB['Education']=test['Education'].map(Ed)
testB['PropertyArea']=test['Property_Area'].map(Prop)
testB['NoLoanTerm']=test['Loan_Amount_Term'].isnull().map(Binary)


#estimate Marriage: If dependents blank or less than 1, assume not married
bins=[-2,0,4]
MarrEstT=pd.cut(list(testB.Dependents),bins)
testB['MarrEst']=list(MarrEstT.codes)
testB['Married']=test['Married'].map(yn).fillna(testB.MarrEst)

testB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Gender            367 non-null int64
Credit_History    367 non-null float64
Dependents        367 non-null float64
containsNaN       367 non-null bool
NoLoanAmount      367 non-null int64
LoanAmount        367 non-null float64
Self_Employed     367 non-null int64
Education         367 non-null int64
PropertyArea      367 non-null int64
NoLoanTerm        367 non-null int64
MarrEst           367 non-null int64
Married           367 non-null int64
dtypes: bool(1), float64(3), int64(8)
memory usage: 32.0 KB

In [189]:
trainB.Married.value_counts()

1.0    398
0.0    216
Name: Married, dtype: int64

In [190]:
trainB[['NoLoanTerm','Loan_Status']].groupby(['NoLoanTerm']).mean()

            Loan_Status
NoLoanTerm
0              0.690000
1              0.571429

In [191]:
trainB[['Dependents','Married']].groupby(['Dependents']).mean()

             Married
Dependents
0.0         0.505556
1.0         0.774510
2.0         0.920792
3.0         0.862745

In [192]:
trainB[['containsNaN','Loan_Status']].groupby(['containsNaN']).mean()

             Loan_Status
containsNaN
False           0.691667
True            0.671642

In [193]:
trainB[['NoLoanAmount','Loan_Status']].groupby(['NoLoanAmount']).mean()

              Loan_Status
NoLoanAmount
0                0.694257
1                0.500000

In [194]:
trainB[['Married','Loan_Status']].groupby(['Married']).mean()

         Loan_Status
Married
0.0         0.634259
1.0         0.716080

In [195]:
trainB[['Dependents','Loan_Status']].groupby(['Dependents']).mean() #-1 represents no dependents reported

            Loan_Status
Dependents
0.0            0.686111
1.0            0.647059
2.0            0.752475
3.0            0.647059

In [196]:
trainB[['Gender','Loan_Status']].groupby(['Gender']).mean() #-1 represents no gender reported

        Loan_Status
Gender
0          0.615385
1          0.669643
2          0.693252

In [197]:
trainB[['Credit_History','Loan_Status']].groupby(['Credit_History']).mean() #-1 represents balnk credit history

                Loan_Status
Credit_History
-1.0               0.740000
 0.0               0.078652
 1.0               0.795789

In [198]:
train[['Loan_Status','Loan_Amount_Term']].groupby(['Loan_Status']).mean()

             Loan_Amount_Term
Loan_Status
N                  344.064516
Y                  341.072464

In [199]:
train[['Loan_Status','LoanAmount']].groupby(['Loan_Status']).mean()

             LoanAmount
Loan_Status
N            151.220994
Y            144.294404

In [200]:
#let's OneHot the categorical data in trainC for formal analysis
trainC=pd.DataFrame()
trainC[['No_gender','Female','Male']]=pd.get_dummies(train.Gender.fillna(0))
#trainC[['Blank_Credit','No_Credit','Credit_History']]=pd.get_dummies(train.Credit_History.fillna(-1))
trainC[['blank','NoCredit','Credit']]=pd.get_dummies(trainB.Credit_History)
trainC['Dependents']=trainB.Dependents
trainC['LoanAmount']=trainB.LoanAmount
trainC['NoLoanAmount']=trainB.NoLoanAmount
trainC['Married']=trainB['Married']
#trainC['ApplicantIncome']=train['ApplicantIncome']
#trainC['CoapplicantIncome']=train['CoapplicantIncome']
trainC[['Semiurban','Urban','Rural']]=pd.get_dummies(trainB.PropertyArea)
trainC['Education']=trainB['Education']
trainC['NoLoanTerm']=trainB['NoLoanTerm']
trainB['LoanTerm']=train['Loan_Amount_Term'].fillna(train.Loan_Amount_Term.min())
trainC['IncomeSum']=((train['ApplicantIncome']+train['CoapplicantIncome'])/trainB.LoanAmount)*trainB['LoanTerm']

trainC['Loan_Status']=train['Loan_Status']

trainC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 17 columns):
No_gender       614 non-null uint8
Female          614 non-null uint8
Male            614 non-null uint8
blank           614 non-null uint8
NoCredit        614 non-null uint8
Credit          614 non-null uint8
Dependents      614 non-null float64
LoanAmount      614 non-null float64
NoLoanAmount    614 non-null int64
Married         614 non-null float64
Semiurban       614 non-null uint8
Urban           614 non-null uint8
Rural           614 non-null uint8
Education       614 non-null int64
NoLoanTerm      614 non-null int64
IncomeSum       614 non-null float64
Loan_Status     614 non-null object
dtypes: float64(4), int64(3), object(1), uint8(9)
memory usage: 43.8+ KB

In [201]:
#let's OneHot the categorical data in trainC for formal analysis
testC=pd.DataFrame()
testC[['No_gender','Female','Male']]=pd.get_dummies(test.Gender.fillna(0))
testC[['blank','NoCredit','Credit']]=pd.get_dummies(testB.Credit_History)
testC['Dependents']=testB.Dependents
testC['LoanAmount']=testB.LoanAmount
testC['NoLoanAmount']=testB.NoLoanAmount
testC['Married']=testB['Married']
#testC['ApplicantIncome']=test['ApplicantIncome']
#testC['CoapplicantIncome']=test['CoapplicantIncome']
testC[['Semiurban','Urban','Rural']]=pd.get_dummies(testB.PropertyArea)
testC['Education']=testB['Education']
testC['NoLoanTerm']=testB['NoLoanTerm']
testB['LoanTerm']=test['Loan_Amount_Term'].fillna(test.Loan_Amount_Term.min())
testC['IncomeSum']=((test['ApplicantIncome']+test['CoapplicantIncome'])/testB.LoanAmount)*testB['LoanTerm']

testC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 16 columns):
No_gender       367 non-null uint8
Female          367 non-null uint8
Male            367 non-null uint8
blank           367 non-null uint8
NoCredit        367 non-null uint8
Credit          367 non-null uint8
Dependents      367 non-null float64
LoanAmount      367 non-null float64
NoLoanAmount    367 non-null int64
Married         367 non-null int64
Semiurban       367 non-null uint8
Urban           367 non-null uint8
Rural           367 non-null uint8
Education       367 non-null int64
NoLoanTerm      367 non-null int64
IncomeSum       367 non-null float64
dtypes: float64(3), int64(4), uint8(9)
memory usage: 23.4 KB

In [202]:
trainC

,No_gender,Female,Male,blank,NoCredit,Credit,Dependents,LoanAmount,NoLoanAmount,Married,Semiurban,Urban,Rural,Education,NoLoanTerm,IncomeSum,Loan_Status
0,0,0,1,0,0,1,0.0,700.0,1,0.0,0,1,0,1,0,3008.057143,Y
1,0,0,1,0,0,1,1.0,128.0,0,1.0,0,0,1,1,0,17130.937500,N
2,0,0,1,0,0,1,0.0,66.0,0,1.0,0,1,0,1,0,16363.636364,Y
3,0,0,1,0,0,1,0.0,120.0,0,1.0,0,1,0,0,0,14823.000000,Y
4,0,0,1,0,0,1,0.0,141.0,0,0.0,0,1,0,1,0,15319.148936,Y
5,0,0,1,0,0,1,2.0,267.0,0,1.0,0,1,0,1,0,12961.348315,Y
6,0,0,1,0,0,1,0.0,95.0,0,1.0,0,1,0,0,0,14585.684211,Y
7,0,0,1,0,1,0,3.0,158.0,0,1.0,1,0,0,1,0,12622.784810,N
8,0,0,1,0,0,1,2.0,168.0,0,1.0,0,1,0,1,0,11854.285714,Y
9,0,0,1,0,0,1,1.0,349.0,0,1.0,1,0,0,1,0,24559.426934,N
10,0,0,1,0,0,1,2.0,70.0,0,1.0,0,1,0,1,0,20057.142857,Y
11,0,0,1,0,0,1,2.0,109.0,0,1.0,0,1,0,1,0,14333.944954,Y
12,0,0,1,0,0,1,2.0,200.0,0,1.0,0,1,0,1,0,20122.200000,Y
13,0,0,1,0,0,1,0.0,114.0,0,0.0,0,0,1,1,0,14820.000000,N
14,0,0,1,0,0,1,2.0,17.0,0,1.0,0,1,0,1,0,16835.294118,Y
15,0,0,1,0,0,1,0.0,125.0,0,0.0,0,1,0,1,0,14256.000000,Y
16,0,0,1,1,0,0,1.0,100.0,0,0.0,0,1,0,0,0,8630.400000,Y
17,0,1,0,0,1,0,0.0,76.0,0,0.0,0,1,0,1,0,16626.315789,N
18,0,0,1,0,0,1,0.0,133.0,0,1.0,0,0,1,0,0,13227.969925,N
19,0,0,1,0,0,1,0.0,115.0,0,1.0,0,1,0,1,1,636.521739,Y
20,0,0,1,0,1,0,0.0,104.0,0,1.0,0,1,0,0,0,26515.384615,N
21,0,0,1,0,0,1,1.0,315.0,0,1.0,0,1,0,1,0,13234.285714,Y
22,0,0,1,0,1,0,0.0,116.0,0,1.0,1,0,0,0,0,13999.655172,N
23,1,0,0,0,1,0,2.0,112.0,0,1.0,0,0,1,0,0,16977.857143,N
24,0,0,1,1,0,0,1.0,151.0,0,1.0,1,0,0,1,0,15835.231788,N
25,0,0,1,0,0,1,0.0,191.0,0,1.0,1,0,0,1,0,18018.848168,Y
26,0,0,1,0,0,1,0.0,122.0,0,1.0,1,0,0,1,0,14907.540984,Y
27,0,0,1,0,0,1,2.0,110.0,0,1.0,0,1,0,0,0,17234.181818,Y
28,0,0,1,0,0,1,0.0,35.0,0,0.0,0,1,0,0,0,14832.000000,N
29,0,1,0,0,0,1,2.0,120.0,0,0.0,1,0,0,1,0,17499.000000,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,0,0,1,0,1,0,1.0,146.0,0,1.0,0,0,1,1,0,11598.904110,N
585,0,0,1,0,0,1,1.0,172.0,0,1.0,0,0,1,1,0,3556.813953,N
586,0,0,1,0,0,1,0.0,104.0,0,1.0,0,1,0,1,0,13219.615385,Y
587,0,1,0,0,0,1,0.0,70.0,0,0.0,1,0,0,0,0,11134.285714,Y
588,1,0,0,0,0,1,0.0,94.0,0,0.0,1,0,0,1,0,18191.489362,Y
589,0,0,1,0,1,0,2.0,106.0,0,1.0,1,0,0,1,0,9258.113208,N
590,0,0,1,0,0,1,0.0,56.0,0,1.0,1,0,0,1,0,20622.857143,Y
591,0,0,1,0,0,1,2.0,205.0,0,1.0,1,0,0,1,0,7024.390244,N
592,1,0,0,0,0,1,3.0,292.0,0,0.0,1,0,0,1,0,11536.027397,Y
593,0,0,1,0,0,1,0.0,142.0,0,1.0,0,0,1,1,0,9074.788732,Y
594,0,0,1,0,0,1,0.0,260.0,0,1.0,0,1,0,1,0,22320.000000,Y
595,0,0,1,0,0,1,0.0,110.0,0,0.0,0,0,1,0,0,12544.363636,Y
596,0,0,1,0,0,1,2.0,187.0,0,1.0,0,0,1,0,0,14213.262032,N
597,0,0,1,0,1,0,0.0,88.0,0,0.0,1,0,0,1,0,12219.545455,N
598,0,0,1,0,0,1,0.0,180.0,0,1.0,0,0,1,1,0,19926.000000,Y
599,0,0,1,0,0,1,2.0,192.0,0,1.0,0,1,0,1,0,10837.500000,Y
600,0,1,0,1,0,0,3.0,350.0,0,0.0,0,1,0,1,0,21642.685714,N
601,0,0,1,0,0,1,0.0,155.0,0,1.0,0,0,1,0,0,13206.193548,Y
602,0,0,1,0,0,1,3.0,128.0,0,1.0,0,1,0,1,0,16039.687500,Y
603,0,0,1,0,0,1,0.0,172.0,0,0.0,0,0,1,1,0,16696.046512,Y
604,0,1,0,0,0,1,1.0,496.0,0,1.0,1,0,0,1,0,8709.677419,Y
605,0,0,1,0,0,1,0.0,700.0,1,1.0,0,1,0,0,0,1594.285714,N
606,0,0,1,0,0,1,1.0,173.0,0,1.0,1,0,0,1,0,12277.456647,Y
607,0,0,1,0,0,1,2.0,157.0,0,1.0,0,0,1,0,0,12377.579618,Y
608,0,0,1,0,0,1,0.0,108.0,0,1.0,0,0,1,1,0,17273.333333,Y
609,0,1,0,0,0,1,0.0,71.0,0,0.0,0,0,1,1,0,14704.225352,Y
610,0,0,1,0,0,1,3.0,40.0,0,1.0,0,0,1,1,0,18477.000000,Y
611,0,0,1,0,0,1,1.0,253.0,0,1.0,0,1,0,1,0,11827.351779,Y
612,0,0,1,0,0,1,2.0,187.0,0,1.0,0,1,0,1,0,14598.288770,Y
613,0,1,0,0,1,0,0.0,133.0,0,0.0,1,0,0,1,0,12405.112782,N

In [203]:
X_train,X_test,y_train,y_test=train_test_split(trainC.drop(['Loan_Status'],axis=1),trainC['Loan_Status'])
X=trainC.drop(['Loan_Status'],axis=1)
y=trainC['Loan_Status']

In [238]:
param_grid={'max_features':[1,2,3,5,7,9,11,13,15],'min_samples_split':[10,20,30,40]}
grid_search=GridSearchCV(GradientBoostingClassifier(),param_grid,cv=5)
grid_search.fit(X_train,y_train)
print(grid_search.best_params_)
print(grid_search.best_score_)

{'max_features': 2, 'min_samples_split': 40}
0.791304347826

In [241]:
gbc=GradientBoostingClassifier(max_features=2,min_samples_split=40)
gbc.fit(X_train,y_train)
print('train score: {}'.format(gbc.score(X_train,y_train)))
print('test score: {}'.format(gbc.score(X_test,y_test)))

train score: 0.8282608695652174
test score: 0.8311688311688312

In [242]:
gbc=GradientBoostingClassifier(max_features=2,min_samples_split=40)
gbc.fit(X,y)
pred=gbc.predict(testC)
#pred=pred.map({1:'Y',0:'N'})
solution=pd.DataFrame(data={'Loan_ID':list(test.Loan_ID),'Loan_Status':pred})
solution.to_csv('solutions.csv',index=False)