In [24]:
import os, mglearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

adult_path=os.path.join(mglearn.datasets.DATA_PATH, "adult.data")
data=pd.read_csv(
    adult_path,header=None,index_col=False,
    names=['age','workclass','fnlwgt','education','education-num','marital-status', 'occupation','relationship',
          'race','gender','capital-gain','capital-loss','hours-per-week','native-country','income'])
data=data[['age','workclass','education','gender','hours-per-week','occupation','income']]
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [5]:
print(data.gender.value_counts())

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [8]:
print(data.occupation.value_counts())

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [10]:
print(data)

       age          workclass      education   gender  hours-per-week  \
0       39          State-gov      Bachelors     Male              40
1       50   Self-emp-not-inc      Bachelors     Male              13
2       38            Private        HS-grad     Male              40
3       53            Private           11th     Male              40
4       28            Private      Bachelors   Female              40
5       37            Private        Masters   Female              40
6       49            Private            9th   Female              16
7       52   Self-emp-not-inc        HS-grad     Male              45
8       31            Private        Masters   Female              50
9       42            Private      Bachelors     Male              40
10      37            Private   Some-college     Male              80
11      30          State-gov      Bachelors     Male              40
12      23            Private      Bachelors   Female              30
13      32            Private     Assoc-acdm     Male              50
14      40            Private      Assoc-voc     Male              40
15      34            Private        7th-8th     Male              45
16      25   Self-emp-not-inc        HS-grad     Male              35
17      32            Private        HS-grad     Male              40
18      38            Private           11th     Male              50
19      43   Self-emp-not-inc        Masters   Female              45
20      40            Private      Doctorate     Male              60
21      54            Private        HS-grad   Female              20
22      35        Federal-gov            9th     Male              40
23      43            Private           11th     Male              40
24      59            Private        HS-grad   Female              40
25      56          Local-gov      Bachelors     Male              40
26      19            Private        HS-grad     Male              40
27      54                  ?   Some-college     Male              60
28      39            Private        HS-grad     Male              80
29      49            Private        HS-grad     Male              40
...    ...                ...            ...      ...             ...
32531   30                  ?      Bachelors   Female              99
32532   34            Private      Doctorate     Male              60
32533   54            Private      Bachelors     Male              50
32534   37            Private   Some-college   Female              39
32535   22            Private           12th     Male              35
32536   34            Private      Bachelors   Female              55
32537   30            Private        HS-grad     Male              46
32538   38            Private      Bachelors   Female              45
32539   71                  ?      Doctorate     Male              10
32540   45          State-gov        HS-grad   Female              40
32541   41                  ?        HS-grad   Female              32
32542   72                  ?        HS-grad     Male              25
32543   45          Local-gov     Assoc-acdm   Female              48
32544   31            Private        Masters   Female              30
32545   39          Local-gov     Assoc-acdm   Female              20
32546   37            Private     Assoc-acdm   Female              40
32547   43            Private        HS-grad     Male              40
32548   65   Self-emp-not-inc    Prof-school     Male              60
32549   43          State-gov   Some-college   Female              40
32550   43   Self-emp-not-inc   Some-college     Male              50
32551   32            Private           10th     Male              40
32552   43            Private      Assoc-voc     Male              45
32553   32            Private        Masters     Male              11
32554   53            Private        Masters     Male              40
32555   22            Private   Some-college     Male              40
32556   27            Private     Assoc-acdm   Female              38
32557   40            Private        HS-grad     Male              40
32558   58            Private        HS-grad   Female              40
32559   22            Private        HS-grad     Male              20
32560   52       Self-emp-inc        HS-grad   Female              40

               occupation  income
0            Adm-clerical   <=50K
1         Exec-managerial   <=50K
2       Handlers-cleaners   <=50K
3       Handlers-cleaners   <=50K
4          Prof-specialty   <=50K
5         Exec-managerial   <=50K
6           Other-service   <=50K
7         Exec-managerial    >50K
8          Prof-specialty    >50K
9         Exec-managerial    >50K
10        Exec-managerial    >50K
11         Prof-specialty    >50K
12           Adm-clerical   <=50K
13                  Sales   <=50K
14           Craft-repair    >50K
15       Transport-moving   <=50K
16        Farming-fishing   <=50K
17      Machine-op-inspct   <=50K
18                  Sales   <=50K
19        Exec-managerial    >50K
20         Prof-specialty    >50K
21          Other-service   <=50K
22        Farming-fishing   <=50K
23       Transport-moving   <=50K
24           Tech-support   <=50K
25           Tech-support    >50K
26           Craft-repair   <=50K
27                      ?    >50K
28        Exec-managerial   <=50K
29           Craft-repair   <=50K
...                   ...     ...
32531                   ?   <=50K
32532      Prof-specialty    >50K
32533     Exec-managerial    >50K
32534        Adm-clerical   <=50K
32535     Protective-serv   <=50K
32536     Exec-managerial    >50K
32537        Craft-repair   <=50K
32538      Prof-specialty    >50K
32539                   ?    >50K
32540        Adm-clerical   <=50K
32541                   ?   <=50K
32542                   ?   <=50K
32543      Prof-specialty   <=50K
32544       Other-service   <=50K
32545        Adm-clerical    >50K
32546        Tech-support   <=50K
32547   Machine-op-inspct   <=50K
32548      Prof-specialty   <=50K
32549        Adm-clerical   <=50K
32550        Craft-repair   <=50K
32551   Handlers-cleaners   <=50K
32552               Sales   <=50K
32553        Tech-support   <=50K
32554     Exec-managerial    >50K
32555     Protective-serv   <=50K
32556        Tech-support   <=50K
32557   Machine-op-inspct    >50K
32558        Adm-clerical   <=50K
32559        Adm-clerical   <=50K
32560     Exec-managerial    >50K

[32561 rows x 7 columns]

In [11]:
#get_dummies function automatically converts categorical data (or string type) into one hot encoding format

In [13]:
print('orig feats: \n {}'.format(list(data.columns)))
data_dummies=pd.get_dummies(data)
print('feats after get dummies: \n {}'.format(list(data_dummies.columns)))

orig feats:
 ['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']
feats after get dummies:
 ['age', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'gender_ Female', 'gender_ Male', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'income_ <=50K', 'income_ >50K']

In [14]:
#note that continuous features such as 'age' are unchanged

In [20]:
data_dummies.head()

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [23]:
features=data_dummies.loc[:,'age':'occupation_ Transport-moving']
X=features.values
y=data_dummies['income_ >50K'].values
print('X shape: {} , y shape: {}'.format(X.shape,y.shape))

X shape: (32561, 44) , y shape: (32561,)

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y, random_state=0)
lr=LogisticRegression()
lr.fit(X_train,y_train)
print('train score: {}'.format(lr.score(X_train,y_train)))
print('test score: {}'.format(lr.score(X_test,y_test)))

train score: 0.8138001638001638
test score: 0.8087458543176514