In [21]:
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
from dateutil.parser import parse

In [5]:
now=datetime.now()
now

datetime.datetime(2018, 3, 5, 13, 20, 38, 493533)

In [6]:
now.year, now.month, now.day

(2018, 3, 5)

In [7]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [8]:
delta.days

926

In [11]:
delta.seconds

56700

In [13]:
start=datetime(2011,1,7)

In [14]:
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [16]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [20]:
stamp=datetime(2011,1,3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
str(stamp)

'2011-01-03 00:00:00'

In [22]:
parse('2011-3-8')

datetime.datetime(2011, 3, 8, 0, 0)

In [23]:
parse('Jan 3, 1997 10:45 PM')

datetime.datetime(1997, 1, 3, 22, 45)

In [24]:
parse('6,3,2011', dayfirst=True)

datetime.datetime(2011, 3, 6, 0, 0)

In [25]:
dates=[datetime(2011,4,6),datetime(1988,3,7),datetime(1994,6,3),datetime(1999,2,7),datetime(2001,9,7),datetime(2006,4,8)]

In [36]:
ts=pd.Series(np.random.randn(6), index=dates)
ts

2011-04-06    0.388090
1988-03-07    0.440916
1994-06-03    0.285218
1999-02-07    1.347740
2001-09-07    0.294928
2006-04-08    0.051124
dtype: float64

In [37]:
ts.index

DatetimeIndex(['2011-04-06', '1988-03-07', '1994-06-03', '1999-02-07',
               '2001-09-07', '2006-04-08'],
              dtype='datetime64[ns]', freq=None)

In [39]:
ts+ts[::2] #selects every second item

1988-03-07         NaN
1994-06-03    0.570436
1999-02-07         NaN
2001-09-07    0.589855
2006-04-08         NaN
2011-04-06    0.776180
dtype: float64

In [41]:
stamp=ts.index[0]
stamp

Timestamp('2011-04-06 00:00:00')

In [42]:
ts[stamp]

0.3880902337937685

In [43]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01    0.996150
2000-01-02   -0.808286
2000-01-03   -0.697897
2000-01-04   -0.628176
2000-01-05    0.236125
2000-01-06   -1.561017
2000-01-07   -0.545958
2000-01-08   -1.107007
2000-01-09   -0.527573
2000-01-10    0.145077
2000-01-11    0.957524
2000-01-12    1.554811
2000-01-13    0.213598
2000-01-14    1.195429
2000-01-15   -0.463440
2000-01-16   -1.693298
2000-01-17   -0.016098
2000-01-18   -0.696999
2000-01-19   -0.699038
2000-01-20    2.012179
2000-01-21   -0.749459
2000-01-22   -1.854230
2000-01-23    0.157912
2000-01-24   -2.411992
2000-01-25   -0.705122
2000-01-26    1.240165
2000-01-27   -1.477911
2000-01-28    0.527854
2000-01-29   -1.184474
2000-01-30    1.135516
                ...
2002-08-28    1.641242
2002-08-29   -0.120554
2002-08-30   -0.847373
2002-08-31    0.040645
2002-09-01   -0.421818
2002-09-02   -0.361080
2002-09-03    0.175904
2002-09-04   -0.265173
2002-09-05    0.671319
2002-09-06   -1.247454
2002-09-07   -0.609228
2002-09-08   -2.332104
2002-09-09    0.054876
2002-09-10   -0.903567
2002-09-11    0.506561
2002-09-12    2.665205
2002-09-13   -0.052456
2002-09-14    2.098236
2002-09-15    1.044090
2002-09-16    1.532165
2002-09-17   -0.186463
2002-09-18   -1.281291
2002-09-19   -0.184012
2002-09-20    1.860698
2002-09-21   -1.949345
2002-09-22    0.328788
2002-09-23   -0.660120
2002-09-24   -0.720947
2002-09-25    1.348200
2002-09-26    0.844279
Freq: D, Length: 1000, dtype: float64

In [46]:
longer_ts['2001']

2001-01-01    1.601647
2001-01-02   -0.957488
2001-01-03    0.291123
2001-01-04   -0.357628
2001-01-05   -0.849505
2001-01-06   -0.527647
2001-01-07   -0.372905
2001-01-08    0.810326
2001-01-09    1.745678
2001-01-10   -0.672611
2001-01-11    1.147662
2001-01-12   -0.716946
2001-01-13   -0.012647
2001-01-14    0.570446
2001-01-15   -0.678479
2001-01-16    1.659263
2001-01-17    0.698342
2001-01-18   -0.208842
2001-01-19    0.722530
2001-01-20    0.012264
2001-01-21   -1.266191
2001-01-22   -1.151885
2001-01-23   -0.364206
2001-01-24    0.356268
2001-01-25    0.539114
2001-01-26   -0.895729
2001-01-27   -0.505221
2001-01-28   -0.371989
2001-01-29    0.893370
2001-01-30   -0.275439
                ...
2001-12-02    0.014608
2001-12-03    0.946629
2001-12-04   -1.212646
2001-12-05   -1.509119
2001-12-06    1.767344
2001-12-07    0.468061
2001-12-08   -1.441293
2001-12-09   -1.249273
2001-12-10    0.014647
2001-12-11    0.115800
2001-12-12   -0.495054
2001-12-13   -0.613786
2001-12-14   -0.711725
2001-12-15   -0.789774
2001-12-16   -1.922950
2001-12-17    0.577647
2001-12-18   -1.347342
2001-12-19   -0.370559
2001-12-20   -0.374404
2001-12-21    0.143304
2001-12-22   -1.556922
2001-12-23   -0.025537
2001-12-24    1.393687
2001-12-25   -0.542166
2001-12-26    0.798197
2001-12-27    1.325719
2001-12-28   -0.255069
2001-12-29   -2.119238
2001-12-30    0.389835
2001-12-31    0.984040
Freq: D, Length: 365, dtype: float64

In [47]:
longer_ts['2001/5']

2001-05-01    0.571386
2001-05-02   -0.025237
2001-05-03    0.893871
2001-05-04   -0.652245
2001-05-05    2.435644
2001-05-06   -0.510963
2001-05-07   -0.871984
2001-05-08    0.259926
2001-05-09   -0.174600
2001-05-10   -0.103879
2001-05-11    1.332729
2001-05-12   -1.803779
2001-05-13    0.890671
2001-05-14   -1.228382
2001-05-15   -0.462123
2001-05-16   -0.447159
2001-05-17    0.391077
2001-05-18    0.053358
2001-05-19    0.523283
2001-05-20    0.103587
2001-05-21    0.893511
2001-05-22   -0.708823
2001-05-23    1.331876
2001-05-24    1.465188
2001-05-25    0.228358
2001-05-26    0.881920
2001-05-27   -0.232767
2001-05-28   -0.483819
2001-05-29   -0.384379
2001-05-30    0.363804
2001-05-31    0.209083
Freq: D, dtype: float64

In [52]:
longer_ts['2001/5/27':'2001/5/30']

2001-05-27   -0.232767
2001-05-28   -0.483819
2001-05-29   -0.384379
2001-05-30    0.363804
Freq: D, dtype: float64